<section class="footer">

    <div class="browseCol">
        <h2>Shop & Browse</h2>
        <ul>
            <li><a>Explore Vehicles</a></li>
            <li><a>New Arrivals of 2026</a></li>
            <li><a>Hybrid Cars</a></li>
            <li><a>Electric Cars</a></li>
        </ul>
    </div>

    <div class="supportCol">
        <h2>Support & Trust</h2>
        <ul>
            <li><a>Pak Turbo Inspection</a></li>
            <li><a>Warranty Plans</a></li>
            <li><a>Help Center</a></li>
            <li><a>FAQs</a></li>
        </ul>
    </div>

    <div class="contactCol">
        <h2>About Us & Contact</h2>
        <ul>
            <li><p>Email: <span>pakturbo@support.com</span></p></li>
            <li><p>Phone: <span>+921234567890</span></p></li>
            <li><p>Tel: <span>051-123456</span></p></li>
            <li><p>Address: <span>Ground Floor, XYZ Plaza, ABC, Pakistan</span></p></li>
        </ul>
    </div>
</section>