<nav>
    <a routerLink="/"><h1 class="mainLogo">Pak Turbo</h1></a>
    
    <div class="searchBox">
    <input type="text" placeholder="Search..." class="searchInput">
    <button class="searchBtn"><i class="fa-solid fa-magnifying-glass" id="searchIcon"></i></button>
    </div>

    <div class="navLinks">
    <a routerLink="/"><p>Home</p></a>
    <a routerLink="/vehicles"><p>Vehicles</p></a>
    <a routerLink="/about-contact"><p>About & Contact</p></a>
    <a routerLink="/sell"><button class="sellBtn">Sell</button></a>
    </div>

</nav>