* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.vehicles-page {
    width: 100%;
    height: auto;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* SEARCH BOX STYLING */
.search-box {
    display: flex;

    & input {
        border: none;
        padding: 8px;
        border-radius: 25px 0 0 25px;
        width: 350px;
        height: 40px;

        &:focus {
            outline: none;
        }
    }

    .searchBtn {
        border: none;
        width: 50px;
        height: 40px;
        color: white;
        font-size: 18px;
        display: flex;
        background: linear-gradient(60deg,
                rgba(255, 0, 0, 0.6) 10%,
                rgba(255, 0, 0, 0.2) 50%,
                rgba(255, 0, 0, 0.6) 100%);
        background-size: 200% 100%;
        background-position: left center;
        justify-content: center;
        align-items: center;
        border-radius: 0 25px 25px 0;
        transition: background-position 0.3s ease;

        & i {
            font-family: "Font Awesome 6 Free", sans-serif;
            transition: transform 0.3s ease;
        }

        &:hover {
            background-position: right center;

            & i {
                transform: translateY(-2px);
            }
        }
    }
}

/* VIEW BUTTONS STYLING */
.view-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
    gap: 12px;
    & button{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: transform 0.3s ease;
        &:hover{
            transform: translateY(-2px) scale(1.05);
        }
    }
    & button i{
        font-size: 17px;
        font-family: "Font Awesome 6 Free", sans-serif;
    }
}

/* Products & Filters */
.filter-products{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.filters {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
    padding: 12px;
    border-radius: 12px;
    background: linear-gradient(-135deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    flex-shrink: 0;
    position: sticky;
    top: 15px;
    & button {
        border: none;
        width: 200px;
        height: 35px;
        border-radius: 50px;
        color: white;
        font-weight: bolder;
        font-size: 18px;
        background: linear-gradient(-135deg,
                rgba(90, 221, 119, 1) 10%,
                rgb(15, 163, 65) 50%,
                rgb(90, 221, 119) 100%);
        background-size: 200% 100%;
        background-position: left center;
        transition: background-position 0.5s ease;

        &:hover {
            background-position: right center;
        }
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    & div input {
        border: none;
        border-radius: 15px;
        padding: 4px 8px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }
}

/* Vehicle Container */
.vehicle-container{
    width: 100%;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

/* GRID VIEW */
.vehicle-container.grid{
    display: flex;
    flex-wrap: wrap;
}
.vehicle-container.grid .vehicle-info{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    & .time-loc{
        display: flex;
        flex-direction: column;
    }
    & .vehicle-info-subCont{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    & .menu-btn{
        height: 35px;
        width: 35px;
        border-radius: 20px;
        border: none;
        font-size: 25px;
        background: #DDD;
        transition: box-shadow 0.5s ease-in-out;
        & i{
            font-family: "Font Awesome 6 Free", sans-serif;
            transition: transform 1s ease-in-out;
        }
        &:hover{
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
            & i{
                transform: rotate(90deg);
            }
        }
    }
}

/* Edit And Delete Grid Styling */
.menu-popup{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    position: absolute;
    top: 45px;
    right: 10px;
    & button{
        padding: 10px;
        font-size: 17px;
        font-weight: bolder;
        color: white;
    }
}
.editBtnGrid{
    border-radius: 12px 12px 0 0;
    border: none;
    /* border: 1px solid rgba(0, 0, 0, 0.55); */
    border-bottom: 0 !important;
    background: linear-gradient(45deg,
                rgba(53, 53, 219, 0.8) 10%,            
                rgba(102, 102, 255, 0.6) 50%,            
                rgba(16, 16, 204, 0.8) 100%            
    );
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.55s ease;
    &:hover{
        background-position: right center;
    }
}
.delBtnGrid{
    border-radius: 0 0 12px 12px;
    border: none;
    /* border: 1px solid rgba(0, 0, 0, 0.55); */
    background: linear-gradient(45deg,
                rgba(240, 92, 55, 0.8) 10%,            
                rgba(192, 17, 17, 0.9) 50%,            
                rgba(236, 52, 52, 0.8) 100%            
    );
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.55s ease;
    &:hover{
        background-position: right center;
    }
}
.menu-btn{
    position: absolute;
    right: 10px;
}
/* Popup Overlay */
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* LIST VIEW */
.vehicle-container.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.vehicle-container.list .vehicle-card{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.vehicle-container.list .prodImg{
    width: 320px;
    height: auto;
    min-height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}
.vehicle-container.list .vehicle-info{
    flex: 1;
    height: 100%;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    & .vehicle-info-subCont{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* Edit & Delete List Btn Styling */
.list-actions{
    display: flex;
    gap: 12px;
    & button i{
        color: white;
        font-family: "Font Awesome 6 Free", sans-serif;
        transition: transform 0.85s ease-in-out;
    }
    & button{
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            & i{
                transform: rotate(180deg);
            }
        }
    }
}
.editBtnList{ background: linear-gradient(45deg, rgb(108, 108, 231), rgb(24, 24, 204)); }
.delBtnList{ background: linear-gradient(45deg, rgb(228, 95, 95), rgb(190, 17, 17)); }

/* VEHICLE CARD */
.vehicle-card {
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
    cursor: pointer;
}

.vehicle-card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.25);
}

.prodImg {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.vehicle-info {
    display: flex;
    gap: 8px;
    .price {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;
    }
    .brand {
        font-size: 20px;
        color: #222;
    }
    .model {
        color: #666;
        font-weight: 600;
        font-size: 16px;
    }
}

/* Edit Popup Styling */
.edit-popup{
    width: 100%;
    max-width: 500px;
    /* Blur Styling */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 0px 10px white;
    backdrop-filter: blur(12px);
    
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    & div{
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        & input{
            padding: 10px 5px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 16px;
            transition: border-bottom 0.5s ease;
            &:focus{
                outline: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.75);
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
    }
    & button{
        width: 100%;
        max-width: 150px;
        border: none;
        border-radius: 30px;
        padding: 12px;
        color: white;
        font-weight: bold;
        font-size: 17px;
        background: linear-gradient(45deg,
                    rgba(0, 255, 100, 0.35) 25%,
                    rgba(0, 255, 125, 0.95) 50%,
                    rgba(0, 255, 100, 0.35) 100%
        );
        background-size: 180% 100%;
        background-position: left center;
        box-shadow: 8px 8px 25px rgba(150, 255, 150, 0.15);
        transition: background-position 0.5s ease,
                    box-shadow 0.5s ease,
                    transform 0.5s ease;
        &:hover{
            transform: translateY(-2px);
            background-position: right center;
            box-shadow: 8px 8px 25px rgba(150, 255, 150, 0.3);
        }
    }
}

.editPopupBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    gap: 50px;
}

/* Delete Popup Styling */
.del-popup{
    width: 100%;
    max-width: 500px;
    /* Blur Styling */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 0px 10px white;
    backdrop-filter: blur(12px);
    
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    & .popup-btns{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}
.cancelBtnPopup {
    width: 100%;
    max-width: 150px;
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background: linear-gradient(45deg, grey, #DDD, grey) !important;
    background-size: 200% 100% !important;
    background-position: left center !important;
    transition: background-position 0.5s ease, transform 0.5s ease !important;
    box-shadow: none !important;
    &:hover {
        background-position: right center !important;
        box-shadow: none !important;
    }
}
/* Delete Btn Popup */
.delBtnPopup {
    width: 100%;
    max-width: 150px;
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background: linear-gradient(45deg,
    #860606 10%,
     rgb(226, 49, 49) 50%,
     #860606 100%
    );
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.5s ease;
    &:hover{
        background-position: right center;
    }
}

@media (max-width: 840px){
    .vehicle-container.list .vehicle-card{ flex-direction: column; }
    .vehicle-container.list .prodImg{
        width: 100%;
        height: 220px;
    }
}